name: Auto-assign issues and PRs

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Assign me
        uses: actions/github-script@v7
        with:
          script: |
            const assignee = '{{ authorGitUsername }}';

            const issueNumber = context.payload.issue
              ? context.payload.issue.number
              : context.payload.pull_request.number;

            await github.rest.issues.addAssignees({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: issueNumber,
              assignees: [assignee],
            });
